<form id="download_app_form">
  <div id="download_app_form_info" class="info"></div>
  <div id="download_app_form_spinner"
       style="display:none; text-align:center">
    <img src="<%= url_prefix %>images/ajax-loader.gif"
	 width="220"
	 height="19"
	 >
  </div>
  <div class="box_outer">
    <div class="box_frame">
      <div class="box_content">
	<div id="field_label">
	  You need a native app to share your location.
	</div>
	<button class="reg_button"
		type="button"
		onclick="download.download_redirect()">
	  Download Native App
	</button>
      </div>
    </div>
  </div>
</form>
