<div data-role="page" id="<%= popup_id %>">
  <div data-role="header">
    <h1><%= popup_title %></h1>
  </div>
  <a href="#index"
     data-transition="slide"
     class="ui-btn ui-corner-all ui-btn-inline">
    Back
  </a>
  <div role="main" class="ui-content">
    <div class="popup_content">
      <%= nested_html %>
    </div>
  </div>
</div>
