<form id="native_app_switch_form">
  <div class="box_outer">
    <div class="box_frame">
      <div class="box_content">
	<div id="field_label">
	  You need to be in the native app to share your location.
	</div>
	<button class="reg_button"
		type="button"
		onclick="device_id_bind.native_app_redirect()">
	  Switch to Native App
	</button>
      </div>
    </div>
  </div>
</form>
