<!-- popup registration box -->
<div id="registration_popup"
     data-role="popup"
     >
  <div style="margin:10px">
    <div style="background-color:#3eb1dd; color:#404040; padding: 10px 10px 15px 10px; text-shadow:0 0; text-align:center; font-size:18px">
      Native App
      <div style="font-size:12px">
	To share your location, you need the native app.
	Please provide your name and either your email or mobile number (or both).
	This will allow us to make sure your shared locations wind up in your app.
      </div>
      <div style="position:absolute; right:13px; top:13px"
	   onclick="$('#registration_popup').popup('close')">
	<img src="images/x.png">
      </div>
      <%= ERB.new(File.read('views/registration_form.erb'), nil, "%").result(binding) %>
    </div>
  </div>
</div>

