<!-- popup alert box -->
<div id="native_app_popup"
     data-role="popup"
     >
  <div style="margin:10px">
    <div style="background-color:#3eb1dd; color:#404040; padding: 10px 10px 15px 10px; text-shadow:0 0; text-align:center; font-size:18px">
    You need the native app
      <div style="position:absolute; right:16px; top:16px"
	   onclick="$('#native_app_popup').popup('close')">
	<img src="/images/x.png">
      </div>
    </div>
    <div style="padding-top:5px; background-color:#d2e9ff">
      <div id="native_form_info" class="info" style="padding:5px">
      <div id="native_prompt" class="info" style="padding:5px; color:red">
      </div>
      To have your location seen by other, you need to use the native app.
      <button style="background-color:#3eb1dd; color:white; text-shadow:0 0; font-weight:normal"
	      type="button"
	      onclick="download_native_app()"></button>
      </div>
    </div>
  </div>
</div>
