<!-- popup alert box -->
<div id="manage_popup"
     data-role="popup"
     >
  <div style="margin:10px">
    <div style="background-color:#3eb1dd; color:#404040; padding: 10px 10px 15px 10px; text-shadow:0 0; text-align:center; font-size:18px">
    Manage your Shared Locations
      <div style="position:absolute; right:16px; top:16px"
	   onclick="$('#manage_popup').popup('close')">
	<img src="images/x.png">
      </div>
    </div>
    <div style="padding-top:5px; background-color:#d2e9ff">
      <div id="manage_info" class="info" style="padding:5px"></div>
    </div>
  </div>
</div>
