<form id="registration_form">
  <div id="registration_form_info" class="info"></div>
  <div id="registration_form_spinner"
       style="display:none; text-align:center">
    <img src="https://eng.geopeers.com/images/ajax-loader.gif">
  </div>
  <div class="box_outer">
    <div class="box_frame">
      <div class="box_content">

	<div id="new_account_div" data-role="fieldcontain">
	  <fieldset data-role="controlgroup" data-type="horizontal">
	    <legend>Is this a new account or are you already using Geopeers on another device?</legend>
	    <label for="new_account_yes">
	      <input type="radio" name="new_account" id="new_account_yes" value="yes" checked="checked" />
	      New</label>
	    <label for="new_account_no">
	      <input type="radio" name="new_account" id="new_account_no" value="no" />
	      Existing</label>
	  </fieldset>
	</div>
	<div id="field_label">
	  The name will be displayed with your location when you share it to others
	</div>
	<label for="name" class="ui-hidden-accessible">
	  Name
	</label>
	<input type="text"
	       name="name"
	       id="name"
	       placeholder="Name"
	       >
	<div id="field_label">
	  Supply your email and/or mobile to Geopeers on multiple devices
	</div>
	<label for="email" class="ui-hidden-accessible">
	  Email
	</label>
	<input type="text"
	       name="email"
	       id="email"
	       placeholder="fred_friendly@gmail.com"
	       >
	<label for="mobile" class="ui-hidden-accessible">
	  Mobile
	</label>
	<input type="text"
	       name="mobile"
	       id="mobile"
	       placeholder="415-555-1212"
	       >
	<input type="hidden" name="method" value="register_device">
	<button class="reg_button"
		type="button"
		onclick="registration.send()">
	  Submit
	</button>
      </div>
    </div>
  </div>
</form>
