<form id="registration_form">
  <div id="registration_form_info" class="info"></div>
  <div id="registration_form_spinner"
       style="display:none; text-align:center">
    <img src="<%= url_prefix %>/images/ajax-loader.gif"
	 width="220"
	 height="19"
	 >
  </div>
  <div class="box_outer">
    <div class="box_frame">
      <div class="box_content">
	<div id="field_label">
	  The name will be displayed with your location when you share it to others
	</div>
	<label for="name" class="ui-hidden-accessible">
	  Name
	</label>
	<input type="text"
	       name="name"
	       id="name"
	       placeholder="Name"
	       >
	<div id="field_label">
	  Supply your email and/or mobile to Geopeers
	  to make it easier for people to share their location with you
	  and to use Geopeers on multiple devices
	</div>
	<label for="email" class="ui-hidden-accessible">
	  Email
	</label>
	<input type="text"
	       name="email"
	       id="email"
	       placeholder="fred_friendly@gmail.com"
	       >
	<label for="mobile" class="ui-hidden-accessible">
	  Mobile
	</label>
	<input type="text"
	       name="mobile"
	       id="mobile"
	       placeholder="415-555-1212"
	       >
	<input type="hidden" name="method" value="register_device">
	<button class="reg_button"
		type="button"
		onclick="registration.send()">
	  Submit
	</button>
      </div>
    </div>
  </div>
</form>
