<form id="send_to_form">
  <div id="send_to_form_info"></div>
  <div id="send_to_form_spinner" style="text-align:center; display:none">
    <img src="<%= url_prefix %>images/ajax-loader.gif"
	 width="220"
	 height="19"
	 >
  </div>

  <div class="box_outer" id="account_name_box">
    <div class="box_title">
      Send a
      <span id="send_to_type"></span>
      message to
      <span id="send_to_name"></span>
    </div>

    <div class="box_frame">
      <div class="box_content">
	<input type="text"
	       name="send_to_message"
	       id="send_to_message"
	       placeholder="Type a message"
	       >
      </div>
    </div>
  </div>

  <button class="form_button"
	  type="button"
	  onclick="marker_mgr.process_send_to_form()">
    Send
  </button>

  <input type="hidden" name="method" value="send_to">
  <input type="hidden" name="send_to_type">
  <input type="hidden" name="device_id">
</form>
