<form id="share_location_form">
  <div id="share_location_form_info"></div>
  <div id="share_location_form_spinner" class="page_spinner">
    <img src="<%= url_prefix %>images/ajax-loader.gif"
	 width="220"
	 height="19"
	 >
  </div>

  <div class="box_outer" id="account_name_box" style="display:none">
    <div class="box_title">
      Account Name
    </div>
    <div class="box_frame">
      <div class="box_content" style="text-align:center">
	The label next to your location pin
	<div>
	  <label for="account_name" class="ui-hidden-accessible">
	      Account Name
	  </label>
	  <input type="text"
		 name="account_name"
		 id="account_name"
		 placeholder="Fred Friendly"
		 style="padding:5px"
		 >
	</div>
      </div>
    </div>
  </div>

  <div class="box_outer" id="share_via" style="display:none">
    <div class="box_title">
      Share via:
    </div>
    <div style="text-align:center; width:100%">
      <fieldset data-role="controlgroup"
		data-type="horizontal"
		data-role="fieldcontain"
		data-mini="true">
	<div id="share_via">
	  <label for="share_via_my_contacts">
	    <input type="radio"
		   onclick="share_location.set_share_to('my_contacts')"
		   name="share_via"
		   value="my_contacts"
		   id="share_via_my_contacts">
	    My Contacts
	  </label>
	  <label for="share_via_mobile">
	    <input type="radio"
		   onclick="share_location.set_share_to('mobile')"
		   name="share_via"
		   value="mobile"
		   id="share_via_mobile">
	    Text Msg
	  </label>
	  <label for="share_via_email">
	    <input type="radio"
		   onclick="share_location.set_share_to('email')"
		   name="share_via"
		   value="email"
		   id="share_via_email">
	    Email
	  </label>
	</div>
      </fieldset>
    </div>

    <div class="box_frame">
      <div class="box_content center">

	<div id="share_to_my_contacts"
	     style="display:none"
	     class="share_location_my_contacts_display">
	  <div style="display:block">
	    <div class="my_contact_element">
	      Email
	    </div>
	    <div id="my_contacts_email"
		 class="my_contact_element my_contact_value">
	    </div>
	    <div id="my_contacts_email_dropdown_div"
		 class="my_contact_element my_contact_dropdown">
	      <select id="my_contacts_email_dropdown"
		      name="my_contacts_email_dropdown">
	      </select>
	    </div>
	    <input type="hidden" name="my_contacts_email">
	  </div>

	  <div style="display:block">
	    <div class="my_contact_element">
	      Mobile
	    </div>
	    <div id="my_contacts_mobile"
		 class="my_contact_element my_contact_value">
	    </div>
	    <div id="my_contacts_mobile_dropdown_div"
		 class="my_contact_element my_contact_dropdown">
	      <select id="my_contacts_mobile_dropdown"
		      name="my_contacts_mobile_dropdown">
	      </select>
	    </div>
	    <input type="hidden" name="my_contacts_mobile">
	  </div>
	</div>

	<div id="share_to_mobile" style="display:none">
	  <div style="display:inline-block">
	    Mobile #: 
	  </div>
	  <div style="display:inline-block">
	    <input type="tel"
		   name="share_to"
		   id="share_to"
		   placeholder="415-555-1212"
		   class="share_to_group"
		   >
	  </div>
	</div>

	<div id="share_to_email" style="display:none">
	  <div style="display:inline-block">
	    Email:
	  </div>
	  <div style="display:inline-block">
  	    <input type="email"
		   name="share_to"
		   id="share_to"
		   placeholder="fred@friendly.com"
		   class="share_to_group"
		   >
	  </div>
	</div>

      </div>	<!-- box_content -->
    </div>	<!-- box_frame -->
  </div>

  <div class="box_outer" id="share_with" style="display:none">
    <div class="box_frame">
      <div class="box_content share_with">
	Share with 
	<span id="share_account_name">
	</span>
	<input type="hidden" name="share_device_id">
      </div>
    </div>
  </div>

  <div class="box_outer">
    <div class="box_title">
      Share how long?
    </div>
    <div class="box_frame">
      <div class="box_content center">
	<div class="share_duration_num">
	  <input type="text"
		 name="share_duration_number"
		 id="share_duration_number"
		 value="1"
		 placeholder="number"
		 >
	</div>
	<div class="share_duration_unit">
	  <select id="share_duration_unit_dropdown"
		  name="share_duration_unit"
		  data-mini="true">
	    <option value="minute">minute</option>
	    <option value="hour" selected>hour</option>
	    <option value="day">day</option>
	    <option value="week">week</option>
	    <option value="manual">forever</option>
	  </select>
	</div>
      </div>
    </div>
  </div>
  <div class="box_outer">
    <div class="box_title">
      Add Message (Optional):
    </div>
    <div class="box_frame">
      <div class="box_content">
	<input type="text"
	       name="share_message"
	       id="share_message"
	       placeholder="Type a message"
	       >
      </div>
    </div>
  </div>
  <button class="form_button"
	  type="button"
	  onclick="share_location.submit_form()">
    Send
  </button>
  <input type="hidden" name="method" value="share_location">
</form>
