<div id="manage_form_spinner" style="text-align:center; display:none">
  <img src="<%= url_prefix %>/images/ajax-loader.gif"
	 width="220"
	 height="19"
       >
</div>
<div id="manage_msg" style="text-align:center; font-size:16px; font-weight:bold; color: purple; padding:5px"></div>
<div id="manage_info" style="padding:5px"></div>
