<form id="share_location_form">
  <div id="share_location_form_info" class="info"></div>
  <div id="share_location_form_spinner" style="text-align:center; display:none">
    <img src="<%= url_prefix %>/images/ajax-loader.gif"
	 width="220"
	 height="19"
	 >
  </div>

  <div class="box_outer" id="account_name_box" style="display:none">
    <div class="box_title">
      Account Name
    </div>
    <div class="box_frame">
      <div class="box_content" style="text-align:center">
	The label next to your location pin
	<div>
	  <label for="account_name" class="ui-hidden-accessible">Account Name</label>
	  <input type="text"
		 name="account_name"
		 id="account_name"
		 placeholder="Fred Friendly"
		 style="padding:5px"
		 >
	</div>
      </div>
    </div>
  </div>

  <div class="box_outer" id="share_via" style="display:none">
    <div class="box_title">
      Share via:
    </div>
    <div class="box_frame">
      <div class="box_content">

	<div id="my_contacts_button">
	  <button  data-mini="true" onclick="select_contact();" style="margin-left:0px;">
	    Select from My Contacts
	  </button>
	</div>

	<div id="my_contacts_display" style="display:none; font-size:20px">
	  <div>
	    <div style="float:left">Email</div>
	    <div id="my_contacts_email" style="float:left; font-weight:bold; margin-left: 5px"></div>
	    <div id="my_contacts_email_dropdown_div" style="float:left; margin-left: 5px; display:none">
	      <select id="my_contacts_email_dropdown"></select>
	    </div>
	    <div style="clear:both"></div>
	    <input type="hidden" name="my_contacts_email">
	  </div>
	  <div>
	    <div style="float:left">Mobile</div>
	    <div style="float:left; font-weight:bold; margin-left: 5px" id="my_contacts_mobile"></div>
	    <div id="my_contacts_mobile_dropdown_div" style="float:left; margin-left: 5px; display:none">
	      <select id="my_contacts_mobile_dropdown"></select>
	    </div>
	    <div style="clear:both"></div>
	    <input type="hidden" name="my_contacts_mobile">
	  </div>
	</div>

	<div id="or_div" style="text-align:center">
	  - or -
	</div>

	<div style="text-align:center; width:100%">
	  <fieldset data-role="controlgroup"
		    data-type="horizontal"
		    data-role="fieldcontain"
		    data-mini="true">
	    <div id="manual_share_via">
	      <label for="share_via_mobile">
		<input type="radio" name="share_via" value="mobile" id="share_via_mobile">
		Text Msg
	      </label>
	      <label for="share_via_email">
		<input type="radio" name="share_via" value="email" id="share_via_email">
		Email
	      </label>
	    </div>
	  </fieldset>
	</div>

	<div id="manual_share_to">
	  <label for="share_to" class="ui-hidden-accessible">Share To</label>
	  <input type="text"
		 name="share_to"
		 id="share_to"
		 placeholder="Share To"
		 style="padding:5px"
		 >
	</div>
      </div>
    </div>
  </div>
  <div class="box_outer" id="share_with" style="display:none">
    <div class="box_frame">
      <div class="box_content" style="font-size:18px; font-weight:bold; text-align:center">
	Share with 
	<span id="share_account_name">
	</span>
	<input type="hidden" name="seer_device_id">
      </div>
    </div>
  </div>
  <div class="box_outer">
    <div class="box_title">
      Share how long?
    </div>
    <div class="box_frame">
      <div class="box_content">
	<div style="width:28%; float:left; margin-left:3px; padding-top:3px">
	  <input type="text"
		 name="share_duration_number"
		 id="share_duration_number"
		 value="1"
		 placeholder="number"
		 >
	</div>
	<div style="width:68%; float:right; margin-right:3px">
	  <select name="share_duration_unit" data-mini="true">
	    <option value="minute">minute</option>
	    <option value="hour" selected>hour</option>
	    <option value="day">day</option>
	    <option value="week">week</option>
	    <option value="manual">forever</option>
	  </select>
	</div>
	<div style="clear:both"></div>
      </div>
    </div>
  </div>
  <button style="background-color:#3eb1dd; color:white; text-shadow:0 0; font-weight:normal"
	  type="button"
	  onclick="share_location()">
    Send
  </button>
  <div class="box_outer">
    <div class="box_title">
      Add Message (Optional):
    </div>
    <div class="box_frame">
      <div class="box_content">
	<input type="text"
	       name="share_message"
	       id="share_message"
	       placeholder="Type a message"
	       >
      </div>
    </div>
  </div>
  <input type="hidden" name="method" value="share_location">
</form>
