<div id="manage_form_spinner" class="page_spinner">
  <img src="<%= url_prefix %>images/ajax-loader.gif"
       width="220"
       height="19"
       >
</div>
<div id="manage_msg"
     class="share_manage_msg">

</div>
<div id="show_hide_expire" style="display:none">
  <label for="show_hide_expire_checkbox">
    Hide expired shares
    <input type="checkbox"
	   id="show_hide_expire_checkbox"
	   name="show_hide_expire_checkbox"
	   onclick="$('.share_expired').toggle()"
	   >
  </label>
</div>
<table id="manage_table">
  <thead style="display:none">
    <tr>
      <th>Shared To</th>
      <th>On/Off</th>
      <th>redeem_time</th>
      <th>expire_time</th>
    </tr>
  </thead>

  <div id="data_table" style="display:none">
    <tbody id="manage_info">
    </tbody>
  </div>
  <div id="empty_msg">
  </div>
</table>
