<form id="update_app_form">
  <div id="update_app_form_info" class="info"></div>
  <div id="update_app_form_spinner"
       style="display:none; text-align:center">
    <img src="https://prod.geopeers.com/images/ajax-loader.gif">
  </div>
  <div class="box_outer">
    <div class="box_frame">
      <div class="box_content">
	<div id="field_label" style="text-align:center">
	  A newer version of this app is available
	</div>
	<button class="reg_button"
		type="button"
		onclick="download.download_redirect()">
	  Install Updated App
	</button>
      </div>
    </div>
  </div>
</form>
