html {
    height: 100%;
}

body {
    font-family: Helvetica;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.splash_div {
    text-align:center;
    display:block;
    background-color: #141414;
    height: 100%;
}

.splash_text {
    color: white;
    font-size:24px;
    font-weight:bold;
    padding-bottom:36px;
    padding-top:30px;
}

#map-canvas {
    height: 100%;
}

#content {
    padding :  0;
    position : absolute !important;
    top :      55px;
    right :    0;
    bottom :   0px !important;
    left :     0 !important;
}

.header_content {
    padding : 0;
    position:relative;
}

.overlap_div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.icon_div {
    padding: 5px 15px 3px 3px;
    float:right;
}

.menu_div {
    padding: 10px 3px 3px 15px;
    float: left;
    z-index: 20;
}

.icon_img {
    max-height: 42px;
    max-width: 50px;
}

.header_title_text {
    padding-top: 5px;
    margin-right: 30px;
    text-shadow: none;
}

#header_title {
    padding-top: 5px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

.error {
    color: red;
}

.info_box {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
}

.x_div {
    position: relative;
    right: 16px;
    top: 10px;
    text-align: right;
    z-index: 2;
}

.message_info, .message_success, .message_warning, .message_error, .message_validation {
    font-family:Arial, Helvetica, sans-serif; 
    font-size:18px;
    text-shadow: none;
    text-align: center;
    border: 1px solid;
    margin: 10px /* top/bottom */ 10px /* right/left */;
    padding:15px 30px 15px 50px;	/* top right bottom left */
    background-repeat: no-repeat;
    background-position: 10px center;
    position: relative;
    top: -30px;
}
.message_info {
    color: #00529B;
    background-color: rgba(189, 229, 248, 0.5) /* #BDE5F8 */ ;
    background-image: url('/images/info.png');
}
.message_success {
    color: #edffd9;
    background-color: rgba(79, 138, 16, 0.7) /* #DFF2BF */ ;
    background-image:url('/images/success.png');
}

.message_warning {
    color: #9F6000;
    background-color: rgba(254, 239, 179, 0.5) /* #FEEFB3 */ ;
    background-image: url('/images/warning.png');
}
.message_error {
    color: #fff0f1;
    background-color: rgba(236, 121, 121, 0.7) /* #FFBABA */ ;
    background-image: url('/images/error.png');
}

.message_button {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border: 1px solid white;
    height: 26px;
}

.message_button_text {
    color: white;
    font-size: 18px;
    margin-top: 2px;
}


/* Colors */
.page_frame, .page_content{
    background-color: rgba(232, 238, 245, 1);
	color: #000;
	text-shadow: none;
}

.page_header,#header_title{
    /* 
    background-color: #34aadc;
   */
    background-color: rgba(102,172,208,1);
    color:#fff;
}

/* Form Colors */
.ui-page-theme-a .ui-btn{
    color:black;
    background-color:rgba(217,121,105,1);
    text-shadow:none;
    border:none;
}

.ui-page-theme-a .page_header .ui-btn {
    background-color:transparent;
    text-shadow:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin:0px;
    font-size:18px;
}

.ui-input-text{
    color:#fff;
    background-color: rgba(255,255,255,0.2);
    text-shadow:none;
    border:none;
}

.ui-header, .ui-footer{
border-width:0;
}

.page_frame {
    /* extra top margin is for some iphone status bars */
    overflow:hidden;
}

.page_header {
    padding: 10px 10px 15px 10px;
    text-shadow:0 0;
    text-align:center;
    font-size:18px;
}

.page_title {
    /* take back arrow into account when centering in page_header div */
    margin-left: -62px;
}

.page_content {
    margin: 5px;
    font-size:14px;
}

.page_title {
    font-size:18px;
    padding:5px;
}

.page_spinner {
    text-align: center;
    display: none;
}

.box_outer {
    padding: 5px;
}

.box_title {
    font-size: 16px;
    font-weight: bold;
}

.box_frame {
    border-style:solid;
    border-width:0px;
    border-color:#3eb1dd;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

.box_content {
    padding:5px;
}

.field_label {
    
}

.reg_button {
    background-color:#3eb1dd;
    color:white;
    text-shadow:0 0;
    font-weight:normal;
}

.form_button {
    background-color:#3eb1dd;
    color:white;
    text-shadow:0 0;
    font-weight:normal;
}

/* Menu */
.dropdown_menu ul li {
    list-style:none;
    cursor:pointer;
}
.dropdown_menu {

}
.dropdown_menu .js {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

/* Fallbacks */
.dropdown_menu .no-js ul {
    display:none;
}
.dropdown_menu .no-js:hover ul {
    display:block;
}

#navContainer {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #c7d7dd;
    border: 2px solid #3eb1dd;
    color: #00a0dd;

    margin:0px;
    list-style:none;
    padding:0;
    text-transform:none;
    text-shadow:none;
    width:160px;
    font-family: Helvetica;
    font-size: 14px;
    margin-left: 50px;
    margin-top: -40px;
    position:absolute;
    z-index:10;
}
#navContainer li a {
    color:black;
    padding:12px 10px;
    display:block;	/* Fill all available horizontal space */
    text-decoration:none;	/* Remove underline */
    transition:background .2s;
    -moz-transition:background .2s;
    -webkit-transition:background .2s;
    -o-transition:background .2s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#navContainer ul {
    padding: 0px;
    margin: 0px;
}
#navContainer hr {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
#navContainer a:hover {
    color:white;
    background:#147498;
}

/* The buttons on the share_location form */
#my_contacts_button .ui-btn, #share_duration_unit_dropdown-button, #share_via .ui-btn {
    background-color: rgba(17,168,171,1);
    text-shadow:none;
}

#share_via .ui-btn-active {
    background-color: rgba(17,130,130,1);
}
.share_expired {
    color: red;
    text-decoration: line-through;
}

.share_text {
    font-size: 14px;
}

.share_manage_msg {
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color: purple;
    padding:5px;
}

.share_manage_table {
    min-height:250px;
}

.share_location_my_contacts_button {
    margin-left:0px;
}

.share_location_my_contacts_display {
    font-size:16px;
}

.share_to_group {
    padding:5px;
}

.share_with {
    font-size:18px;
    font-weight:bold;
    text-align:center;
}

.center {
    text-align:center;
}

#share_duration_number {
}

.share_duration_num {
    width: 35px;
    display:inline-block;
    vertical-align:middle;
}

.share_duration_unit {
    display:inline-block;
    vertical-align:middle;
}

#manage_info {
    font-size: 14px;
}

#empty_msg {
    display:none;
    color:red;
    font-size:18px;
    text-align:center;
}

/* Used for the Switch effect: */
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
    background: url(/images/switch.gif) repeat-x;
    display: block;
    float: left;
}
.cb-enable span, .cb-disable span {
    line-height: 30px;
    display: block;
    background-repeat: no-repeat;
    font-weight: bold;
}
.cb-enable span {
    background-position: left -90px;
    padding: 0 10px;
}
.cb-disable span {
    background-position: right -180px;
    padding: 0 10px;
}
.cb-disable.selected {
    background-color:red;
    background-position: 0 -30px;
}
.cb-disable.selected span {
    background-position: right -210px;
    color: #fff;
}
.cb-enable.selected {
    background-color:green;
    background-position: 0 -60px;
}
.cb-enable.selected span {
    background-position:
    left -150px;
    color: #fff;
}
.switch label {
    cursor: pointer;
}

.my_contact_element {
    display:inline-block;
}

.my_contact_value {
    font-weight:bold;
    margin-left: 5px
}

.my_contact_dropdown {
    margin-left: 5px;
    display: none
}

.marker_label {
    font-size:16px;
    visibility:hidden;
}

.marker_label_text {
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:#453345
}

.marker_menu_expire_time {
    color:black;
    text-align:center;
    padding:3px
}

.support_input_text {
    padding:5px;
}

.form_button {
    background-color:#3eb1dd;
    color:white;
    text-shadow:0 0;
    font-weight:normal
}

